/*Selector uniersal  */
*{
    padding: 0 auto;
    margin:  0 auto;

}
/* selector de id */

#Contenedor{
    width: 1000px;
    height: 1000px;
    background-color: #8E44AD;
    border-radius: 0.5em;
    border: 2px solid #B7950B;
    margin: 1em auto;
    max-width: 0 auto;
    max-height: 0 auto;

   }

#Encabezado{
    height: 37px;
    width: 100%;
    background-color: black;
    border-radius: 0.5em;
}

#Menu{
    height: auto;
    background-color: #BB8FCE;
    border-radius: 0.2em;
    border: 2px solid #B7950B;
    margin: 1em auto;
}

#Seccion{
    width: 50%;
    height: auto;
    background-color: powderblue;
    border-radius: 1em;
    margin: 0.5em;
    float: left;
}

#FueraSeccion{
    height: auto;
    width: 36%;
    background-color: powderblue;
    border-radius: 1em;
    margin: 0.5em;
    float: right;

 }
 #Pie{
   background-color: white;
    text-align: center;
   width: 175px;
    margin-top: 1em;
 }

 /* seletor de clase */
.titulo{
    text-align: center;
    font-family: fantasy;
    color: whitesmoke;
}

 .texto{
    text-align:  center;
    font-family: tahoma;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0.5em;
 }

 .info{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 1em;
 }


 .encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
    margin-top: 1em;
 }


 .imagen{
    display: block;
    border: 1px solid #ddd;
    margin-left: auto;
    width: 150px;

 }
 /* selector tipo etiqueta*/
 ul {
    text-align: center;
 }
 li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
 }

 /* MAMDAS MIAS Q ANDO CALANDO*/

 body {
    height: 400px;
    background-image: url("https://i.pinimg.com/originals/bd/08/4b/bd084bc2a3ec55885cee4e21c33ccefc.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

  .boton{
   width: 100%;
   border-radius: 0.5em;
   background-color: aquamarine;
  }

  
.sombra-borde {
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}

/*PARA EL BOTON 3D */

.button{
   
   border-radius: 8px;
   background: #7eb5d9;
   /*añadimos sombras inferiores*/
   -moz-box-shadow: 0px 5px 0px 0px rgb(75, 115, 199);
   -webkit-box-shadow: 0px 5px 0px 0px rgb(75, 105, 202);
   box-shadow: 0px 5px 0px 0px rgb(75, 105, 202);
   
   display:inline-block;
   margin:0px 10px 10px 0px;
   padding:10px;
   text-decoration:none;/*anulamos subrayado del texto dentro del enlace*/
   /*añadimos un efecto de transición para que el efecto sea progresivo*/
   transition: all 0.10s ease-in-out;
   -webkit-transition: all 0.10s ease-in-out;
   /*IMPORTANTE, si no posicionamos de manera relativa el elemento, al hacer click se moverá entero, sin realizar el engaño que buscamos*/
   position:relative;
   
   }

.button:active{
   /*Gracias a que el elemento está en posición relativa, podemos bajarlo 4 px sin alterar el HTML*/
   top:4px;
   /*bajamos el tamaño de la sombra para conseguir el efecto de profundidad*/
   -moz-box-shadow: 0px 1px 0px 0px rgb(75, 105, 202);
   -webkit-box-shadow: 0px 1px 0px 0px rgb(75, 105, 202);
   box-shadow: 0px 1px 0px 0px rgb(75, 105, 202);
}

.button:hover{
   cursor: pointer;
   background-color: rgb(172, 213, 252);
}


/* Efecto para la fuera seccion*/
details[open] summary{
   background-color: #08B;
   color:#FFF;
   border-radius:5px 5px 0 0;
}

summary::-webkit-details-marker {
   display: none;
}
